h1{
    text-shadow: 3px 3px 5px hsl(0, 74%, 42%), -3px -3px 5px hsl(243, 80%, 55%);
}

#box1
{
    width: 300px;
    height: auto;
    background-color: aqua;
    box-shadow: 3px 3px 5px hsl(162, 57%, 33%);

}