.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    width:100vw;
}


.box{
    width:150px;
    height: 150px;
    font-size: 8em;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: hsl(0, 100%, 50%);
    align-self: start;    
}
#box2{
    background-color: hsl(120, 100%, 25%);
    align-self: end;
    order:3
}
#box3{
    background-color: hsl(60, 100%, 50%);
    align-self: center;
}
#box4{
    background-color: hsl(240, 100%, 50%);
    align-self: end;
}